.item {
    display: grid;
    color: black;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 120px 1fr;
    padding: 25px;
}

.item img {
    border-radius: 50%;
    width: 80px;
}

.btn {
    padding: 7px 25px;
    color: white;
    background-color: #ff0000;
    border: none;
}

.likes {
   align-items: center;
    justify-content: center;
}

.message {
    padding-top: 27px;
}