.item {
    grid-area: main-content;
    padding: 25px;
}

.item img {
    border-radius: 50%;
    width: 80px;
}

.btn {
    padding: 7px 25px;
    color: white;
    background-color: #ff0000;
    border: none;
}

.likes {
   align-items: center;
    justify-content: center;
}