.dialogs {
    display: grid;
    grid-template-columns: 140px 5fr;
    grid-template-areas: "peoples messages";
}

.dialogs img {
    width: 80px;
}

.peoples {
    border-right: 1px solid lightgray;
    grid-area: peoples;
    padding: 0;
}

.messages {
    grid-area: messages;
}

.avatar {
    border-radius: 50%;
}
