.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "items messages";
}

.dialogs img {
    width: 80px;
}

.peoples {
    border-right: 1px solid lightgray;
    grid-area: items;
    padding: 0;
}

.messages {
    grid-area: messages;
}
